@using Inventory.MVC.Extensions
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Inventory Management" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Инвентар</title>

    <script src="~/Scripts/pace.js"></script>
    <link href="~/Content/paceGreenFlash.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />
    <link href="~/Content/CssBundle.css" rel="stylesheet" />
    <link href="~/Content/Kendo/web/kendo.default.css" rel="stylesheet" />
    @*<style>
            .k-menu,
            .k-menu li.k-item,
            .k-widget.k-menu-horizontal > li.k-item {
                border-right-width: 0; /*премахва границите между item-ите в менюто*/
                text-align: center;
                border-style: none;
            }

            .k-menu .k-state-hover:hover { background-color: transparent; }
        </style>*@

    <style>
        .k-tooltip {
            margin-bottom: -100px;
        }
    </style>

    <script src="~/Scripts/JsBundle.js"></script>

    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script> @*Това е важно да е точно тук, а не в Bundle, иначе проблеми!*@
    <script src="~/signalr/hubs"></script>
    <script>
        //$(function () { // Важно е да не е в document.ready() - не се вижда в изгледите иначе
            var crudHub = $.connection.crudHub;
            crudHub.client.showNotificationMessage = function (message, type) {
                var notification = $("#notification").data("kendoNotification");
                notification.show(message, type);
            };
            var hubStart = $.connection.hub.start();
        //});
    </script>
  
   @*тези задължително трябва да са най-накрая на главата*@
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>


        @(
 Html.Kendo().ToolBar()
            .Name("headerToolBar")
            .Items(items =>
            {
                items.Add().Template(Html.Kendo().AutoComplete().Name("ddlSearch").Placeholder("Търсене ...").HtmlAttributes(new { style = "width: 300px;float:right" })
                    .MinLength(1)
                    .DataTextField("EntityToString")
                    .DataSource(ds => { ds.Read(read => read.Action("Search", "Home").Data("getText")).ServerFiltering(true); })
                    .Template("<a href='#:data.EntityUrl#'>" + "#:data.EntityToString#" + "</a>")
                    .ToHtmlString());

//                items.Add().Template(Html.Kendo().DropDownList().Name("kendoDropDownListTheme")
//                    .Items(itms =>
//                    {
//                        itms.Add().Text("Default").Value("default");
//                        itms.Add().Text("Default").Value("blueopal");
//                        itms.Add().Text("Bootstrap").Value("bootstrap");
//                        itms.Add().Text("Silver").Value("silver");
//                        itms.Add().Text("Uniform").Value("uniform");
//                        itms.Add().Text("Metro").Value("metro");
//                        itms.Add().Text("Black").Value("black");
//                        itms.Add().Text("Metro Black").Value("metroblack");
//                        itms.Add().Text("High Contrast").Value("highcontrast");
//                        itms.Add().Text("Moonlight").Value("moonlight");
//                        itms.Add().Text("Flat").Value("flat");
                  
//                    })
//                    .Events(e => e.Change(@"function(e) {
//debugger;
//                      theme = this.value();
//                      window.kendoThemeChooser.changeTheme(theme, true);
////                    initCharts(theme);
//                }"))
//                    .ToHtmlString());
            }
            )
        )

        @(

 Html.Kendo().Menu()
            .Name("headerMenu")
            .BindTo("sitemap")
            .SecurityTrimming(false)
        )
        @(Html.Kendo().TabStrip()
                  .Name("tabstrip")
                  .Items(tabstrip =>
                  {
                      tabstrip.Add().Text("Клиенти")
                          .Action("Index", "Product");
                      tabstrip.Add().Text("Контакти")
                          .Action("Index", "Contact");
                      tabstrip.Add().Text("Потенциални клиенти")
                          .Action("Index", "Category");
                      tabstrip.Add().Text("Календари")
                          .Action("Index", "UnitMeasure");
                      tabstrip.Add().Text("Задачи")
                          .Action("Index", "Store");
                      tabstrip.Add().Text("Градове")
                          .Action("Index", "Town");
                      tabstrip.Add().Text("Региони")
                          .Action("Index", "Region");
                      tabstrip.Add().Text("Общини")
                          .Action("Index", "Municipality");
                      tabstrip.Add().Text("Индустрии")
                          .Action("Index", "Industry");
                      tabstrip.Add().Text("Документи")
                          .Action("Index", "Document");
                  }).SecurityTrimming(false) // This is very important for all controls that has this property -> VERY slow if missed or set to true
        )


        @*@(ExtensionUtils.GetCachedToolbar(Html.Kendo().TabStrip().Name("tabstrip")))*@



        <span id="centeredNotification" style="display: none;"></span>
        <span id="popupNotification" style="display: none;"></span>
    </header>

















































    <div id="body">
        @RenderBody()
    </div>
        @*sticky footer*@
    <footer style="position: absolute; bottom: 0; width: 100%; text-align: center; border: none; border-style: none">
        <div>
            @(
 Html.Kendo().ToolBar()
            .Name("footerToolBar")
            .Items(items =>
            {
                items.Add().Template(
                    Html.Kendo().Menu()
                        .Name("footerMenu")
                        .Items(children =>
                        {
                            children.Add().Text(Html.ActionLink("Начало", "Index", "Home").ToHtmlString()).Encoded(false);
                            children.Add().Text(Html.ActionLink("Често задавани въпроси", "Index", "Home").ToHtmlString()).Encoded(false);
                            children.Add().Text(Html.ActionLink("Полезни връзки", "Index", "Home").ToHtmlString()).Encoded(false);
                            children.Add().Text(Html.ActionLink("Контакти", "Index", "Home").ToHtmlString()).Encoded(false);
                            children.Add().Text(Html.ActionLink("Карта на сайта", "Index", "Home").ToHtmlString()).Encoded(false);
                            children.Add().Text("<a href='https://www.google.bg' target='blank'>Google</a>").Encoded(false);
                            children.Add().Text(Html.ActionLink("Продукти", "Index", "Product").ToHtmlString()).Encoded(false);
                        })
                        .SecurityTrimming(false) // This is very important for all controls that has this property -> VERY slow if missed or set to true
                        .ToHtmlString());
            }
            )
            )



            @*@(Html.Kendo().Tooltip()
                                           .For(".k-grid")
                                                              .Filter(".k-checkbox")
                        .Content("Избор")

                    )

                    @(Html.Kendo().Tooltip()
                                           .For(".k-grid")
                                                           .Filter(".k-icon.k-grid-delete")
                .Content("Изтриване")

                    )

                    @(Html.Kendo().Tooltip()
                                           .For(".k-grid")
                                                           .Filter(".k-icon.k-grid-edit")
                                                                .Content("&#013;&#013;&#013;&#013;&#013;&#013;Редактиране")

                .Width(120)
                    )*@

            @(Html.Kendo().ContextMenu()
        .Name("menu")
                .Target(".k-grid")
                    //.Filter(".product")
        .Orientation(ContextMenuOrientation.Vertical)
        .Animation(animation =>
        {
            animation.Open(open =>
            {
                open.Fade(FadeDirection.In);
                open.Duration(500);
            });
        })
        .Items(items =>
        {
            items.Add().Text("Избор");
            items.Add().Text("Редакция");
            items.Add().Text("Изтриване");

        }

                  )
            )

            @( Html.Kendo().Notification()
                   .Name("notification")
                   .Width("100%")
                   .Position(position => position.Top(0).Left(0))
            )


        </div>

        </footer>

</body>
</html>

<script type="text/javascript">
    function getText() {
        return {
            searchText: $("#ddlSearch").val()
        };
    }
</script>

<script type="text/javascript">
    function showNotificationMessage(message, type) {
        var notification = $("#notification").data("kendoNotification");
        notification.message(message, type);
    }

</script>